<footer class="social-footer">
    <div class="social-footer-icons">
        <a href="https://github.com/{{site.github-username}}" title="Github profile" target="_blank"
        rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="{{site.url}}{{ site.baseurl }}/atom.xml" title="Feed RSS" target="_blank" rel="noopener noreferrer"><i
            class="fa fa-rss" aria-hidden="true"></i></a>
        <a href="{{site.repo}}" title="Browse the code" target="_blank" rel="noopener noreferrer"><i
            class="fa fa-code" aria-hidden="true"></i></a>
    </div>
</footer>